:root {
  --accent-color: #2196f3;
  --secondary-font: "Raleway", sans-serif;
  --primary-theme-color: #e5e5e5;
  --secondary-theme-color: #f5f4fa;
  --third-theme-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --black-theme-color: #000000;
  --dark-theme-color: #2f303a;
  --bg-color: rgba(47, 48, 58, 0.4);
  --light-theme-color: #afb1b8;
  --transition-dur: 250ms;
  --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.join-form__btn, .customers-link, .description-list__thumb, .contact-list__link, .contact-list, .menu-nav, .page-nav, .page-header-container, .modal-form__check-desc, .modal-close__btn {
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
  transition: background-color var(--transition-dur) var(--transition-func), color var(--transition-dur) var(--transition-func);
}
.button:hover, .button:focus {
  background-color: var(--accent-color);
  color: var(--third-theme-color);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--third-theme-color);
  font-size: 14px;
  color: var(--secondary-text-color);
  line-height: 1.19;
}

.section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  margin-right: 93px;
  color: var(--black-theme-color);
}
.logo-link__accent {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
}
.logo-link__accent_color_dark {
  font-family: var(--secondary-font);
  color: var(--third-theme-color);
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--third-theme-color);
  transition: background-color var(--transition-dur) var(--transition-func);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: var(--light-theme-color);
  transition: fill var(--transition-dur) var(--transition-func);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--third-theme-color);
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur) var(--transition-func), visibility var(--transition-dur) var(--transition-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur) var(--transition-func), visibility var(--transition-dur) var(--transition-func);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding-left: 40px;
  padding-top: 44px;
  padding-right: 40px;
  padding-bottom: 36px;
  background-color: var(--third-theme-color);
  transition: transform var(--transition-dur) var(--transition-func), opacity var(--transition-dur) var(--transition-func), visibility var(--transition-dur) var(--transition-func);
}

.modal-close__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: auto;
  left: auto;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.modal-close__icon {
  transition: fill var(--transition-dur) var(--transition-func);
}
.modal-close__btn:hover .modal-close__icon, .modal-close__btn:focus .modal-close__icon {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__field {
  margin-bottom: 10px;
}
.modal-form__wrapper {
  position: relative;
}
.modal-form__desc {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.modal-form__mes {
  margin-bottom: 20px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--black-theme-color);
  transition: border-color var(--transition-dur) var(--transition-func);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 12px;
  display: block;
  transform: translateY(-50%);
  transition: fill var(--transition-dur) var(--transition-func);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__text {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  color: var(--black-theme-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transition-dur) var(--transition-func);
}
.modal-form__text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__text:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__check-desc {
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.modal-form__fake {
  display: block;
  width: 16px;
  height: 15px;
  border: 1.67px solid var(--primary-text-color);
  border-radius: 4px;
  margin-right: 7px;
  transition: border-color var(--transition-dur) var(--transition-func), border-radius var(--transition-dur) var(--transition-func);
}
.modal-form__check:checked + .modal-form__check-desc .modal-form__fake {
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
}
.modal-form__check:focus + .modal-form__check-desc .modal-form__fake {
  border-color: var(--accent-color);
  border-radius: 2px;
}

.link-privacy {
  color: var(--accent-color);
}

.modal-form__fake-icon {
  opacity: 0;
}
.modal-form__check:checked + .modal-form__check-desc .modal-form__fake .modal-form__fake-icon {
  opacity: 1;
}

.modal-form__btn {
  padding: 10px 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  align-self: center;
  color: var(--third-theme-color);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.contact-list {
  margin-left: auto;
}
.contact-list__item:not(:last-child) {
  margin-right: 50px;
}
.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contact-list__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-dur) var(--transition-func);
}
.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.menu-nav__item:not(:last-child) {
  margin-right: 50px;
}

.menu-nav .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-dur) var(--transition-func);
}
.menu-nav .link:hover, .menu-nav .link:focus {
  color: var(--accent-color);
}
.menu-nav .link.current {
  color: var(--accent-color);
}

.menu-nav__link {
  display: block;
}
.menu-nav__link.current {
  position: relative;
}
.menu-nav__link.current::after {
  position: absolute;
  top: auto;
  right: 0;
  bottom: -33px;
  left: auto;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero__name {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-theme-color);
}
.hero__button {
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-theme-color);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-back.jpg");
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.description-list {
  display: flex;
  justify-content: space-between;
}
.description-list__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.description-list__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.description-list__item {
  width: 270px;
}
.description-list__thumb {
  justify-content: center;
  background-color: var(--secondary-theme-color);
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
}

.about {
  padding-top: 0px;
}
.about__list {
  display: flex;
  justify-content: space-between;
}
.about__wrapper {
  position: relative;
}
.about__overlay {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
  width: 100%;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-theme-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
}

.team {
  background: var(--secondary-theme-color);
}
.team .team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__item {
  background-color: var(--third-theme-color);
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--primary-text-color);
}
.team__text {
  font-size: 16px;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 16px;
}
.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.customers-link {
  width: 170px;
  height: 92px;
  justify-content: center;
  border: 1px solid var(--light-theme-color);
  border-radius: 4px;
  color: var(--accent-color);
  transition: fill var(--transition-dur) var(--transition-func), border var(--transition-dur) var(--transition-func);
}
.customers-link:hover, .customers-link:focus {
  fill: currentColor;
  border: 1px solid currentColor;
}

.customers-logo {
  fill: var(--light-theme-color);
  transition: fill var(--transition-dur) var(--transition-func);
}
.customers-link:hover .customers-logo, .customers-link:focus .customers-logo {
  fill: currentColor;
}

.footer {
  background-color: var(--dark-theme-color);
  padding: 60px 0;
}
.footer .logo-link {
  display: block;
  margin-right: 0px;
  margin-bottom: 20px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer_wrapper {
  margin-right: 70px;
  width: 231px;
}

.adress {
  font-style: normal;
}
.adress-footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.adress-footer__contact {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur) var(--transition-func);
}
.adress-footer__contact:hover, .adress-footer__contact:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.adress-footer__link {
  line-height: 1.71;
  color: var(--third-theme-color);
}

.join__wrapper {
  margin-right: 93px;
}

.join-subtitle {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-theme-color);
}

.join__item .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur) var(--transition-func);
}
.join__item .social-list__link:hover, .join__item .social-list__link:focus {
  background-color: var(--accent-color);
}

.join__link .social-list__icon {
  fill: var(--third-theme-color);
}

.join-form {
  display: flex;
  gap: 12px;
}
.join-form__input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--third-theme-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--dark-theme-color);
  transition: border-color var(--transition-dur) var(--transition-func);
}
.join-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.join-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.join-form__btn {
  justify-content: center;
  gap: 10px;
  padding: 10px 28px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-theme-color);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}

.menu-button {
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  background-color: var(--secondary-theme-color);
  transition: box-shadow var(--transition-dur) var(--transition-func), background-color var(--transition-dur) var(--transition-func);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}
.menu-button:hover, .menu-button:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}
.project__subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.project__example {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
.project__item {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
}
.project__text-wrapper {
  padding: 20px 24px;
}
.project__wrapper {
  position: relative;
  overflow: hidden;
}

.project__link {
  display: block;
  transition: box-shadow var(--transition-dur) var(--transition-func);
}
.project__link:hover, .project__link:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project__overlay {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur) var(--transition-func);
  font-size: 18px;
  line-height: 1.56;
  color: var(--third-theme-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}
.project__link:hover .project__overlay, .project__link:focus .project__overlay {
  transform: translate(0, 0);
}/*# sourceMappingURL=main.css.map */