.customers-list {
  display: flex;
  gap: 30px;
}

// .customers-item {
//   flex-basis: calc((100% - 10px) / 2);
// }

.customers-link {
  width: 100%;
  height: 92px;
  @extend %align;
  justify-content: center;
  border: 1px solid var(--light-theme-color);
  border-radius: 4px;
  color: var(--accent-color);

  transition: fill var(--transition-dur) var(--transition-func),
    border var(--transition-dur) var(--transition-func);

  &:hover,
  &:focus {
    fill: currentColor;
    border: 1px solid currentColor;
  }
}

.customers-logo {
  fill: var(--light-theme-color);
  transition: fill var(--transition-dur) var(--transition-func);

  .customers-link:hover &,
  .customers-link:focus & {
    fill: currentColor;
  }
}

@media screen and(max-width: 767px) {
  .customers-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and(max-width: 1199px) {
  .customers-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .customers-item {
    flex-basis: calc((100% - (3 - 1) * 30px) / 3);
  }

  .customers-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-link {
    width: 170px;
  }
}
