.page-header-container {
  @extend %align;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.page-nav {
  @extend %align;
}

.menu-nav {
  @extend %align;
}

.contact-list {
  @extend %align;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &__link {
    @extend %align;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--transition-dur) var(--transition-func);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.menu-nav__item:not(:last-child) {
  margin-right: 50px;
}

.menu-nav .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-dur) var(--transition-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
  }
}

.menu-nav__link {
  display: block;

  &.current {
    position: relative;

    &::after {
      @include abs-position(auto, 0, -33px, auto);
      content: '';
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }
}
