.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}

.menu-button {
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  background-color: var(--secondary-theme-color);

  transition: box-shadow var(--transition-dur) var(--transition-func),
    background-color var(--transition-dur) var(--transition-func);

  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
