.modal-form {
  display: flex;
  flex-direction: column;

  &__field {
    margin-bottom: 10px;
  }

  &__wrapper {
    position: relative;
  }

  &__desc {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
  }
  &__mes {
    margin-bottom: 20px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--black-theme-color);
  transition: border-color var(--transition-dur) var(--transition-func);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__icon {
  @include abs-position(50%, auto, auto, 12px);
  display: block;
  transform: translateY(-50%);
  transition: fill var(--transition-dur) var(--transition-func);

  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__text {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  color: var(--black-theme-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transition-dur) var(--transition-func);

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal-form__check-desc {
  @extend %align;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.modal-form__fake {
  display: block;
  width: 16px;
  height: 15px;
  border: 1.67px solid var(--primary-text-color);
  border-radius: 4px;
  margin-right: 7px;
  transition: border-color var(--transition-dur) var(--transition-func),
    border-radius var(--transition-dur) var(--transition-func);

  .modal-form__check:checked + .modal-form__check-desc & {
    background-color: var(--accent-color);
    border: none;
    border-radius: 2px;
  }

  .modal-form__check:focus + .modal-form__check-desc & {
    border-color: var(--accent-color);
    border-radius: 2px;
  }
}

.link-privacy {
  color: var(--accent-color);
}

.modal-form__fake-icon {
  opacity: 0;

  .modal-form__check:checked + .modal-form__check-desc .modal-form__fake & {
    opacity: 1;
  }
}

.modal-form__btn {
  padding: 10px 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  align-self: center;
  color: var(--third-theme-color);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
