:root {
    --accent-color: #2196f3;
    --secondary-font: 'Raleway', sans-serif;
    --primary-theme-color: #e5e5e5;
    --secondary-theme-color: #f5f4fa;
    --third-theme-color: #ffffff;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --black-theme-color: #000000;
    --dark-theme-color: #2f303a;
    --bg-color: rgba(47, 48, 58, 0.4);
    --light-theme-color: #afb1b8;
    --transition-dur: 250ms;
    --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
}